[workspace]
members = ["crates/opengate-models", "crates/opengate", "bridge"]
resolver = "2"

[workspace.package]
version = "0.1.12"
edition = "2021"
license = "MIT"
repository = "https://github.com/stefanodecillis/opengate"
